div.view {
  height: 100vh;
  height: calc(100 * var(--vh));
  display: grid;
  grid-template-rows: auto;
  &.header-only {
    grid-template-rows: 3rem auto;
  }
  &.footer-only {
    grid-template-rows: auto 3rem;
  }
  &.header-and-footer {
    grid-template-rows: 3rem auto 3rem;
  }

  header {
    display: grid;
    align-items: center;
    align-content: space-between;
    grid-column-gap: 0.2rem;
    padding: 0.2rem;
    &.button-left {
      grid-template-columns: 5rem auto;
    }
    &.button-right {
      grid-template-columns: auto 5rem;
    }
    // > * {
    //   border: 1px solid red;
    // }
    .subtitle {
      padding: 0.5rem;
      h3 {
        padding: 0;
        margin: 0;
      }
    }
    .button {
      text-align: right;
    }
  }
  // Use only if header or footer
  section.content {
    overflow: scroll;
  }
  footer {
    display: grid;
    align-items: center;
    align-content: space-between;
    grid-column-gap: 0.2rem;
    padding: 0.2rem;
    &.button-menu-2 {
      grid-template-columns: auto auto;
    }
    &.button-menu-3 {
      grid-template-columns: auto auto auto;
    }
    &.button-menu-4 {
      grid-template-columns: auto auto auto auto;
    }
    &.button-left {
      grid-template-columns: 5rem auto;
    }
    &.button-right {
      grid-template-columns: auto 5rem;
    }
    // > * {
    //   border: 1px solid red;
    // }
    > div {
      display: grid;
      align-items: center;
      .btn {
        padding: 0;
        font-size: 1.5rem;
        text-decoration: none;
        i {
          padding: 0;
          margin: -0.2rem 0 0.4rem 0;
        }
        small {
          display: block;
          font-size: 0.6rem;

          padding: 0;
          margin-top: -0.5rem;
        }
      }
      &.active {
        .btn {
          color: $white !important;
        }
      }
    }
    .subtitle {
      padding: 0.5rem;
      h3 {
        padding: 0;
        margin: 0;
      }
    }
    .button {
      text-align: right;
    }
  }
}
